* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
}

html {
    font-family: "Roboto", "HK Grotesk", "proxima nova", sans-serif;
}

body {
    width: 100%;
    background-image: none;
    background-position: top center;
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: #24252A;
}

.wrapper {
    width: 90%;
    margin: 0 auto;
}

p, li, a, button {
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
}

h1 {
    color: rgba(0,136,169);
    font-size: 65px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;    
}

.logo {
    cursor: pointer;
    padding: 0 15px 0 0;
    width: auto;
    height: 70px;
}

.nav__links {
    list-style: none;
}

.nav__links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav__links li a {
    transition: all 0.3s ease 0s;
}

.nav__links li a:hover {
    color: #0088a9
}

/* button {
    padding: 9px 25px;
    background-color: rgba(0,136,169,1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
} */

button:hover {
    background-color: rgba(0,136,169,0.8);
}

.socialIcons {
    display: flex;
    align-items: center;
}

.socialIcons a img {
    padding: 0 15px 0 0;
    width: auto;
    height: 25px;
}

.profile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 0;
}

.bio {
    flex-direction: column;
    margin: 0 250px 0 0;
}

.bio h1 {
    line-height: 85%;
    margin: 0 0 25px 0;
    padding: 0;
}
.bio p {
    font-size: 18px;
    width: 100%;
    margin: 0;
}

.bio h2 {
    margin: 30px 0 20px 0;
    color: rgba(0,136,169);
    font-size: 35px;
}

.bio ul li {
    font-size: 18px;
    margin: 0 0 0 20px;
    padding: 0;
}

.profile img {
    width: 35%;
}