* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
}

html {
    font-family: proxima nova, sans-serif;
}

body {
    width: 100%;
    background-image: url(images/BG1.png);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: #24252A;
}

.wrapper {
    width: 90%;
    margin: 0 auto;
}

p, li, a, button {
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
}

h1 {
    color: white;
    font-size: 65px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;    
}

.logo {
    cursor: pointer;
}

.nav__links {
    list-style: none;
}

.nav__links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav__links li a {
    transition: all 0.3s ease 0s;
}

.nav__links li a:hover {
    color: #0088a9
}

button {
    padding: 9px 25px;
    background-color: rgba(0,136,169,1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover {
    background-color: rgba(0,136,169,0.8);
}

div.socialIcons {
    display: flex;
}

/* .socialIcons a {
    margin: 0;
    padding: 0;
} */

.socialIcons a img {
    justify-content: space-around;
    justify-content: flex-end;
    align-items: center;
    margin: 0;
    padding: 0 15px 0 0;
    width: 40%;
    height: 40%;
}

.bio {
    margin: 100px 0 200px 160px;
    text-align: left;
    width: 40%;
}

.bio h1 {
    line-height: 85%;
}
.bio p {
    font-size: 25px;
    width: 100%;
    margin: 30px auto 0 auto;
}